@import "~bootstrap/scss/bootstrap";
@import "../../style/variables";

.story {
  width: 100%;

  .spinner {
    display: flex;
    justify-content: center;
  }

  .card-subtitle {
    font-size: 15px;
  }

  .card-text {
    margin-top: 30px;
    font-size: 17px;

    a {
      word-break: break-all;
    }
  }

  .error {
    display: flex;
    justify-content: center;
  }

  @media screen and (max-width: $medium) {
    .card-title {
      font-size: 1.15rem;
    }

    .card-subtitle {
      font-size: 0.75rem;
    }
  }
}