@import "~bootstrap/scss/bootstrap";
@import "../../style/variables";

.single-story {
  display: flex;
  justify-content: center;

  .content {
    width: 50rem;
    padding-right: 10px;
    padding-left: 10px;

    .spinner {
      display: flex;
      justify-content: center;
    }

    .story {
      border-color: $orange;
    }

    .comments {
      margin-bottom: 50px;

      .comment-wrapper {

        .parent {

          .btn {
            width: 130px;
            height: 38px;
            border-color: $grey;
          }
        }

        .child {
          border: none;
        }
      }
    }
  }
}
