@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "../../style/variables";

.layout {
  padding: 10px;
  display: flex;
  justify-content: center;

  @media screen and (max-width: $medium) {
    h2 {
      font-size: 1.5rem;
    }
  }
}
