@import "~bootstrap/scss/bootstrap";
@import "../../style/variables";

.comment {

  &.parent {
    width: 100%;
  }

  &.child {
    margin-top: 5px;
    margin-left: 10px;
    width: 90%;

    .card-body {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .card-subtitle, .card-text {
        width: 100%;
      }
    }
  }

  &.deleted, &.dead {

    .card-text {
      color: $grey;
    }
  }

  .card-text {
    display: block;

    a {
      word-break: break-all;
    }
  }

  @media screen and (max-width: $medium) {
    .card-subtitle {
      font-size: 0.85rem;
    }
  }
}